body
{
    background-color: lightgreen;
}

h1
{
    color: white;
    font-family: arial; font-size: 22;
}

h2
{
    color: white;
    font-family: arial; font-size: 22;
}

a
{
    background-color: white;
    color: blue;
}

a:hover 
{
    background-color: grey;
    color: red;
}

p.bio_paragraph
{
    background-color: lightblue;
}